<!DOCTYPE html>
<html>
<style>
    table, th, td {
      border:0.2em solid black;
    }
    body {
      font-size: 14px;
      font-family: "Segoe UI", Arial, sans-serif;
      background-color: #fafafa;
      color: #222;
      padding: 2rem;
      line-height: 1.6;
      
    }

    h1, h2 {
      color: #007acc;
    }
</style>
<body>

<h2>Python Escape Sequence Characters</h2>

<p>Escape sequences are series of characters that will store otherwise untypeable characters into strings.</p>

<table style="width:100%">
  <tr>
    <th>Character</th>
    <th>Escape Sequence</th>

  </tr>
  <tr>
    <td>Newline</td>
    <td>\n</td>
  </tr>
  <tr>
    <td>Tab</td>
    <td>\t</td>
  </tr>
  <tr>
    <td>Backslash</td>
    <td>\\</td>
  </tr>
    <tr>
    <td>Single quote</td>
    <td>\'</td>
  </tr>
    <tr>
    <td>Double quote</td>
    <td>\"</td>
  </tr>
</table>
</body>
</html>